<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>热门</string>
	<string>华东</string>
	<string>华南</string>
	<string>华中</string>
	<string>华北</string>
	<string>西北</string>
	<string>西南</string>
	<string>东北</string>
	<string>港澳台</string>
</array>
</plist>
