<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://d.pcs.baidu.com/thumbnail/ee85dedc12f80b0ab47ff2fe158e0f80?fid=588748386-250528-133244474322807&amp;time=1418158800&amp;sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-v9vaXUhr8KVt%2FjpEbEUIggDugXY%3D&amp;rt=sh&amp;expires=2h&amp;r=264489747&amp;sharesign=unknown&amp;size=c1280_u800&amp;quality=90</string>
		<key>img</key>
		<string>http://pica.nipic.com/2007-08-12/200781205332728_2.jpg</string>
		<key>title</key>
		<string>故宮（こきゅう） </string>
		<key>subTitle</key>
		<string>故宮（こきゅう）は、中華人民共和国の首都北京市に所在する明清朝の旧王宮である歴史的建造物。面積は 725,000m² あり、世界最大の皇宮で、明と清の24代にわたる皇帝の宮城であった。1987年、「北京と瀋陽の明・清王朝皇宮」の一つとしてユネスコの世界遺産（文化遺産)に登録されている。名称故宮とは「古い宮殿、昔の宮殿」という意味で、現在は博物館（故宮博物院#中国 北京市）になっている。黄色と朱色からなる故宮博物院は幻想的な世界で、観る者の期待を決して裏切りません。</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://d.pcs.baidu.com/thumbnail/5bf5481d29148a492b59f6f3436331f2?fid=588748386-250528-932637504891952&amp;time=1418158800&amp;sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-f4pJWCc6l2x46wjyMhkLrwTyA6E%3D&amp;rt=sh&amp;expires=2h&amp;r=612659309&amp;sharesign=unknown&amp;size=c1280_u800&amp;quality=90</string>
		<key>img</key>
		<string>http://pica.nipic.com/2007-08-12/200781205332728_2.jpg</string>
		<key>title</key>
		<string>天壇（てんだん）</string>
		<key>subTitle</key>
		<string>天壇は北京市の南端に位置して、明の永楽帝の十八年（1420年）に建てられて、天神と地神を祭ったり豊作を祈ったりした場所である。1998年１１よりユネスコの世界遺産（文化遺産）に登録された。北京にある「壇」建築（日壇、月壇、地壇、社稷壇、先農壇）の中天壇の面積はきわめて広い。東西の長さが１７００メートルで、南北の幅が１６００メートルで ある。総面積は約２73万平方メートルである。総面積はは270万㎡、故宮のそれの４倍を超える    天壇は圜丘壇と祈年殿を含んで、内塀と外塀が回”字形になっている。最北端の塀は半円型で、最南端の塀は東西の塀と直角に交差して方型に呈する。全体は「北円く南四角い」の形を呈しているが、これは「天は丸いもので、地は四角のもの」という天地意識を象徴する。外壇の塀は東、南、北の方向に門を設立しないで、西の方に門を二つ立てて、つまり、圜丘壇門と祈年殿門である（天壇門とも言う）。それに対して、内壇の塀の周りに門があってつまり、東天門、西天門、北天門と南天門という四つの門がある。内壇に祭壇や斎宮や東西方向の横塀があって、南のほうは「園丘壇」であって、北の方は「祈穀壇」である。</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://d.pcs.baidu.com/thumbnail/59f5bf6419c31272e3e21acbbc249175?fid=588748386-250528-55332950367788&amp;time=1418158800&amp;sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-8sGornDqdQpdfYNlbqMJGzIyQ5c%3D&amp;rt=sh&amp;expires=2h&amp;r=410569251&amp;sharesign=unknown&amp;size=c1280_u800&amp;quality=90</string>
		<key>img</key>
		<string>http://pica.nipic.com/2007-08-12/200781205332728_2.jpg</string>
		<key>title</key>
		<string>頤和園（いわえん）</string>
		<key>subTitle</key>
		<string>頤和園は、北京の海淀区西郊外に位置し、市の中心からの距離は12キロほどのところにある、中国に現存する最大の古代庭園（園林）である。1998年12月に、ユネスコの世界文化遺産に登録された。 頤和園は元々</string>
	</dict>
</array>
</plist>
